@model IEnumerable<UsedCarApp.Models.AdDto>
@{
    ViewBag.Title = "List";
}

<h1>Current Ads</h1>
<a class="createnew" href="/ad/new">Create New Ad</a>
<div class="linklist">
    @foreach (var Ad in Model)
    {

        <a href="/Ad/Details/@Ad.AdId">@Ad.CarYear @Ad.CarMake @Ad.CarModel</a>

    }
</div>