@model IEnumerable<UsedCarApp.Models.Car>
@{
    ViewBag.Title = "Create";
}

<h2>Create Ad</h2>
<form action="/Ad/Create" method="POST">

    <div>
        <label>Description:</label> <input name="Description" type="text" />
    </div>
    <div>
        <label>Price:</label> <input name="Price" type="number" />
    </div>
    <div>
        <label>Images:</label> <input name="Images" type="text" />
    </div>
    <div>
        <label>Car:</label>
        <select name="CarId">
            @foreach (var cars in Model)
            {
                <option>@cars.Year @cars.Make @cars.Model</option>
            }
        </select>
    </div>
    <div>
        <label>Km:</label> <input type="number" name="Km" />
    </div>
    <div>
        <label>UserId:</label> <input name="UserId" type="number" />
    </div>
    <div>
        <input type="submit" value="Create Ad" />
    </div>
</form>

