@model IEnumerable<UsedCarApp.Models.UserDto>
@{
    ViewBag.Title = "List";
}

<h1>List of Users</h1>

<a class="createnew" href="/user/new">Create New User</a>
<div class="linklist">
    @foreach (var user in Model)
    {
        <a href="/user/Details/@user.UserId">@user.UserName</a>

    }
</div>
