@model UsedCarApp.Models.Car
@{
    ViewBag.Title = "Details";
}

<a href="/car/deleteconfirm">Delete this car</a>
<h2>Details</h2>
<a href="/car/list">Go back to Car List</a>
<h3>@Model.Year @Model.Make @Model.Model</h3>
<h4>@Model.Km KM</h4>

