@model IEnumerable<UsedCarApp.Models.Car>
@{
    ViewBag.Title = "List";
}

<h2>List of Cars</h2>
<a href="/Car/Create">Add new car</a>

@foreach (var Car in Model)
{
    <h2><a href="/Car/Details/@Car.CarId">@Car.Year @Car.Make @Car.Model</a></h2>
}

