@model IEnumerable<UsedCarApp.Models.Car>
@{
    ViewBag.Title = "List";
}

<h1>List of Cars</h1>
<a class="createnew" href="/Car/new">Add new car</a>
<div class="linklist">
    @foreach (var Car in Model)
    {
       <a href="/Car/Details/@Car.CarId">@Car.Year @Car.Make @Car.Model</a>
    }
</div>
